<form action="/Cars" method="post">
  <label for="makeModel">Enter the Make/Model:</label>
  <input id="makeModel" name="makeModel" type="text">
  <label for="price">Enter the Price:</label>
  <input id="price" name="price" type="text">
  <label for="price">Enter the Miles:</label>
  <input id="price" name="price" type="text">
  <button type="submit">Submit</button>
</form>